#heading  {

    text-align: center;
  color: red;
      
}
body {
     
    background-color: rgb(37, 43, 34);
}
div {
    background-color: lightgrey;
    width:device-width, initial-scale=1.0;
    border: 15px solid green;
    padding: 20px;
    margin: 20px;
  }

   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid blue;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(207, 32, 32);
    font-display: bold;
  }